name: build-on-commit

on:
  push:
    branches:
      - master

jobs:
  base:
    name: ${{ matrix.name }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: docker/setup-qemu-action@v3
      - uses: docker/setup-buildx-action@v3
      - uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - run: >
          cd base-images &&
          docker buildx build --push
          --file Dockerfile.${{ matrix.name }}
          --platform linux/amd64,linux/arm64
          --build-arg REPO=${GITHUB_REPOSITORY}
          --tag ghcr.io/${GITHUB_REPOSITORY}:${{ matrix.name }} .
    strategy:
      matrix:
        include:
          - name: alpine-319-core
          - name: alpine-319-av
          - name: alpine-edge-core
          - name: alpine-edge-av
          - name: debian-bookworm-core
          - name: debian-bookworm-av
          - name: debian-sid-av
  build:
    name: ${{ matrix.name }}
    runs-on: ubuntu-latest
    needs: base
    steps:
      - uses: actions/checkout@v4
      - uses: docker/setup-qemu-action@v3
      - uses: docker/setup-buildx-action@v3
      - uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - uses: dorny/paths-filter@v3
        id: changes
        with:
          filters: |
            folder:
              - "apps/${{ matrix.name }}/**"
      - if: steps.changes.outputs.folder == 'true'
        run: >
          cd apps/${{ matrix.name }}/ &&
          docker buildx build --push
          --platform ${{ matrix.arch }}
          --build-arg REPO=${GITHUB_REPOSITORY}
          --tag ghcr.io/${GITHUB_REPOSITORY}:${{ matrix.name }} .
    strategy:
      fail-fast: false
      matrix:
        include:
          - name: anydesk
            arch: linux/amd64
          - name: ardour
            arch: linux/amd64,linux/arm64
          - name: audacity
            arch: linux/amd64
          - name: beekeeperstudio
            arch: linux/amd64,linux/arm64
          - name: bitwarden
            arch: linux/amd64
          - name: blender
            arch: linux/amd64,linux/arm64
          - name: brave
            arch: linux/amd64,linux/arm64
          - name: calibre
            arch: linux/amd64,linux/arm64
          - name: chrome
            arch: linux/amd64
          - name: chromium
            arch: linux/amd64,linux/arm64
          - name: deluge
            arch: linux/amd64,linux/arm64
          - name: digikam
            arch: linux/amd64,linux/arm64
          - name: earth
            arch: linux/amd64
          - name: edge
            arch: linux/amd64
          - name: filezilla
            arch: linux/amd64,linux/arm64
          - name: firefox
            arch: linux/amd64,linux/arm64
          - name: firefox-dev
            arch: linux/amd64,linux/arm64
          - name: freecad
            arch: linux/amd64,linux/arm64
          - name: freetube
            arch: linux/amd64,linux/arm64
          - name: gimp
            arch: linux/amd64,linux/arm64
          - name: handbrake
            arch: linux/amd64,linux/arm64
          - name: inkscape
            arch: linux/amd64,linux/arm64
          - name: kdenlive
            arch: linux/amd64,linux/arm64
          - name: keepassxc
            arch: linux/amd64,linux/arm64
          - name: kicad
            arch: linux/amd64,linux/arm64
          - name: kodi
            arch: linux/amd64,linux/arm64
          - name: krita
            arch: linux/amd64,linux/arm64
          - name: ktorrent
            arch: linux/amd64,linux/arm64
          - name: libreoffice
            arch: linux/amd64,linux/arm64
          - name: librewolf
            arch: linux/amd64,linux/arm64
          - name: moonlight
            arch: linux/amd64,linux/arm64
          - name: obs
            arch: linux/amd64
          - name: obsidian
            arch: linux/amd64
          - name: onlyoffice
            arch: linux/amd64
          - name: opera
            arch: linux/amd64
          - name: parsec
            arch: linux/amd64
          - name: postman
            arch: linux/amd64,linux/arm64
          - name: qbittorrent
            arch: linux/amd64,linux/arm64
          - name: remmina
            arch: linux/amd64,linux/arm64
          - name: retroarch
            arch: linux/amd64,linux/arm64
          - name: shortwave
            arch: linux/amd64,linux/arm64
          - name: shotcut
            arch: linux/amd64,linux/arm64
          - name: signal
            arch: linux/amd64
          - name: spotify
            arch: linux/amd64
          - name: sqlitebrowser
            arch: linux/amd64,linux/arm64
          - name: telegram
            arch: linux/amd64,linux/arm64
          - name: thunderbird
            arch: linux/amd64,linux/arm64
          - name: torbrowser
            arch: linux/amd64
          - name: vivaldi
            arch: linux/amd64,linux/arm64
          - name: vlc
            arch: linux/amd64,linux/arm64
          - name: vscode
            arch: linux/amd64,linux/arm64
          - name: vscodium
            arch: linux/amd64,linux/arm64
          - name: webcord
            arch: linux/amd64,linux/arm64
          - name: yandex
            arch: linux/amd64
          - name: zoom
            arch: linux/amd64
