name: Daily Package check
on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:

permissions:
  contents: write
jobs:
  pupdate:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          token: ${{ secrets.PAT }}
      - run: bash ci-scripts/update-packages.sh ${{ matrix.name }}
      - uses: actions/upload-artifact@v4
        if: success() || failure()
        with:
          name: ${{ matrix.name }}
          if-no-files-found: ignore
          path: apps/${{ matrix.name }}/package_versions.txt
          retention-days: 1
    strategy:
      fail-fast: false
      matrix:
        include:
          - name: anydesk
          - name: ardour
          - name: audacity
          - name: bitwarden
          - name: blender
          - name: brave
          - name: calibre
          - name: chrome
          - name: chromium
          - name: deluge
          - name: digikam
          - name: earth
          - name: edge
          - name: filezilla
          - name: firefox
          - name: firefox-dev
          - name: freecad
          - name: freetube
          - name: gimp
          - name: inkscape
          - name: kdenlive
          - name: keepassxc
          - name: kicad
          - name: kodi
          - name: krita
          - name: ktorrent
          - name: libreoffice
          - name: librewolf
          - name: moonlight
          - name: obs
          - name: obsidian
          - name: onlyoffice
          - name: opera
          - name: parsec
          - name: postman
          - name: qbittorrent
          - name: remmina
          - name: retroarch
          - name: shortwave
          - name: shotcut
          - name: signal
          - name: spotify
          - name: sqlitebrowser
          - name: telegram
          - name: thunderbird
          - name: torbrowser
          - name: vivaldi
          - name: vlc
          - name: vscode
          - name: vscodium
          - name: webcord
          - name: yandex
          - name: zoom
  pcommit:
    runs-on: ubuntu-latest
    if: success() || failure()
    needs: pupdate
    steps:
      - uses: actions/checkout@v4
        with:
          token: ${{ secrets.PAT }}
      - uses: actions/download-artifact@v4
        with:
          path: artifacts
      - run: rsync -av artifacts/* apps/
      - run: |
          git config --global user.name 'Package Bot'
          git config --global user.email 'package-bot@users.noreply.github.com'
          cd apps
          git add .
          git diff --quiet HEAD || git commit -m "Bot Updating Package Versions" && git push origin master
